*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(61, 159, 224);
}
body, .quote-input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
    background-color: #F0DB4F;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}
.timer{
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: #F0DB4F;
    font-weight: bold;
}
.quote-display{
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input{
    background-color: transparent;
    border: 2px solid #A1922e;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
}

.quote-input:focus{
    border-color: black;
}

.correct{
    color: green;
}

.incorrect{
    color: red;
    text-decoration: underlinea;
}

/* Existing styles... */

/* Style for the alert message */
.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

/* Style for the "Start Test" button */
#startTest {
    background-color: #42bde2;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Style for the time selector and its label */
#testDuration {
    width: 60px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

label[for="testDuration"] {
    font-size: 14px;
    font-weight: bold;
}


